@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirArabic";
  src: url("./assets/fonts/alfont_com_AlFont_com_AvenirArabic-Medium.otf");
}

* {
  font-family: AvenirArabic, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
}

@layer utilities {
  .text-custom-40 {
    font-size: 40px;
  }
  .basis {
    flex-basis: 32%;
  }
}

.shadow{
  box-shadow: 0px 8px 24px 0px #00ADEE1A;
}
.serviceDesc::before {
  content: "";
  display: block;
  width: 2px;
  height: 70px;
  background-color: #8fc930;
}
